@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-height: 100vh;
  --color-absent: 120 124 126;
  --color-present: 201 180 88;
  --color-correct: 106 170 100;
  --key-bg: 211 214 218;
}

html,
body {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
}

html {
  /* overflow: hidden; */
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* overflow: hidden; */
}

.wrapper {
  height: 100vh;
  height: var(--app-height);
}

.colorblind {
  --color-present: 133 192 249;
  --color-correct: 245 121 58;
}

.dark {
  --key-bg: 129 131 132;
  --color-absent: 58 58 60;
}

.tile::before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}
